*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    color: #fff;
}
header{
    background-color: #363636;
    padding: 50px 0px 0px 0px;
}
nav{
    background: #252525;
    padding: 30px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
}
.main-body{
    height: 310px;
    display: grid;
    grid-template-columns: 2fr 1fr;
   
    color:#333333;
}
main{
    background-color: #cccccc;
}
aside{
    background-color: #fff;
}
footer{
    background-color: #333333;
    padding: 50px;
}